*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
/* Extra Section: Navbar related style */

.flower-shop-navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:sticky;
  height: 70px;
  background-color: rgb(100, 100, 100);
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
}
.menus{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.menus li{
  list-style: none;
}
.menus a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 1.2rem;
}
.btn-primary{
  padding: 15px 25px;
  border: none;
  border-radius: 7px;
  background-color: #E55473;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Hero Section related style */

.home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fbe7eb;
  height: 420px;
  width: auto;
}
.hero-info{
  padding: 70px;
}
.title{
  font-size: 2.4rem;
  font-weight: bold;
}
.home-para{
  margin: 20px 0px;
  font-size: 15px;
}

/* Flower Featured related Style */

.section-title{
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 25px;
 }

 .title-head{
  font-size: 2.4rem;
  text-align: center;
}
.title-para{
  text-align: center;
  margin: 15px;
  font-size: 15px;
}
.section-display{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: auto;
  gap: 20px;
}
.flowers1 {
  background-color: rgb(249, 237, 250);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  height: 430px;
  width: 360px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.flowers2 {
  background-color: rgb(227, 241, 241);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  height: 430px;
  width: 360px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.flowers3 {
  background-color: rgb(245, 247, 232);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  height: 430px;
  width: 360px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.img  {
  width: 80%;
  /* padding: 30px; */
}

/* Special info Related style */

.special-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(237, 236, 236);
  width: 75%;
  margin: 60px auto;
  height: 220px;
  padding: 25px;
}
.info1{
  display: inline-block;
  text-align: center;

}
.info-para{
  text-align: center;
}
/* Deal Section realted style */

#deal{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fbe7eb;
  height: 420px;
  width: auto;
  padding: 40px;
}
.deal-title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}
.deal-para{
  margin: 20px 0px;
  font-size: 15px;
  text-align: center;
}

/* Instagram section style */

.insta{
  margin: 50px;
  padding: 20px;
}
.display{
  height: 300px;
  width: 300px;
}
.flower-img1{
  background-image: url("/assets/Flower01.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flower-img2{
  background-image: url("/assets/Rectangle4.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flower-img3{
  background-image: url("/assets/Rectangle5.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flower-img4{
  background-image: url("/assets/Rectangle6.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
